.h{
    
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    background: linear-gradient(to bottom, orange 80% , rgb(240, 69, 69) 20%);
}

.word{
    text-align: center;
    color: aliceblue;
    position: relative; 
    top: 60px;

}
.smile{
    border-radius: 40px;
    width: 70px;
    height: 70px;
   position: absolute;
   left: 45%;
   top: 15%;
    margin-top: 95px;
    background: yellow;
}
.eyes:before,.eyes:after{
    content: "";
    position: absolute;
    top: 40px;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background: black;
}

.eyes:before{
    top: 20px;
    left: 20px;
}
.eyes:after{
    left: 20px;
}

.mouth{
    height: 45px;
    border-right: 3px solid black;
    border-radius: 30%;
    margin-top: 10px;
    margin-right: 20px;

}

#triangle{
    position: absolute;
    left: 41%;
    top: 48%;
    clip-path: polygon(0 60%, 51% 87%, 100% 60%);
    background-color:  orange;
    width: 170px;
    height : 119px;
  
}

