.h{
    
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    /* clip-path: polygon(51% 78%, 66% 66%, 100% 66%); */
    background: linear-gradient(to bottom, orange 80% , rgb(240, 69, 69) 20%);
}
.smile{
    border-radius: 40px;
    width: 70px;
    height: 70px;
   position: absolute;
   left: 45%;
   top: 15%;
    margin-top: 95px;
    background: yellow;
}
.eyes:before,.eyes:after{
    content: "";
    position: absolute;
    top: 40px;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background: black;
}

.eyes:before{
    top: 20px;
    left: 20px;
}
.eyes:after{
    left: 20px;
}

.mouth{
    height: 45px;
    border-right: 3px solid black;
    border-radius: 30%;
    margin-top: 10px;
    margin-right: 20px;

}

